Fabric==1.8.0
Flask==0.10.1
Jinja2==2.7.1
MarkupSafe==0.18
MySQL-python==1.2.4
Pygments==1.6
Scrapy==0.24.4
Sphinx==1.2.3
Twisted==14.0.2
Werkzeug==0.9.3
backports.ssl-match-hostname==3.4.0.2
beanstalkc==0.4.0
beautifulsoup4==4.3.2
certifi==14.05.14
cffi==0.8.6
cryptography==0.6.1
cssselect==0.9.1
daemon==1.1
docutils==0.12
ecdsa==0.10
eventlet==0.14.0
gnureadline==6.3.3
greenlet==0.4.1
ipython==2.3.0
itsdangerous==0.23
lxml==3.4.0
matplotlib==1.4.2
mixpanel==0.5
mock==1.0.1
nose==1.3.4
numpy==1.9.1
numpydoc==0.5
paramiko==1.12.0
pyOpenSSL==0.14
pycparser==2.10
pycrypto==2.6.1
pyparsing==2.0.3
python-dateutil==2.2
pytz==2014.9
pyzmq==14.4.1
queuelib==1.2.2
six==1.8.0
tornado==4.0.2
w3lib==1.10.0
wsgiref==0.1.2
zope.interface==4.1.1
